@import 'https://fonts.googleapis.com/css?family=Prompt:100,200,300,400&subset=thai';
  /* Copyright 2016 Cadson Demak, All rights reserved. */


* { padding: 0; margin: 0; }

@font-face {
    font-family: "Saotip";
    src: url(saotip.otf);
}

html, body {
  font-family: "Prompt", Sukhumvit Set , sans-serif;
  /* Copyright 2016 Cadson Demak, All rights reserved. */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

a{
  text-decoration: none;
}

ul,li{
  list-style: none;
}

/* Font weight reminder = 100,200,300,400 */

.saotip-a{
  font-family: "Saotip", Kanit , sans-serif !important;   /* Fallback to Kanit  */
  color:#9e0707;
}

.headline{
  font-weight: 200;
  font-size: 38px;
  margin-bottom: 1rem;
}

.sub-headline{
  font-weight: 100;
  font-size: 26px;
}

.description{
  font-weight: 200;
  font-size: 15px;
  padding: 0 10% 0 10%;
  line-height: 30px;
}

.little{
  font-weight: 200;
  font-size: 13px;
  color: #ca1b22;
}

.button{
  width: auto;
  height: auto;
  box-sizing: border-box;
  padding: 0 15px 0 15px;
  background: #525961;
  color: #fff;
  font-size: 25px;
  font-weight: 200;
  display: inline-block;
  margin-top: 1rem;
  text-decoration: none;
}


/* End of global variables */




/* Contact button */

.contact-button {
  z-index:99999;
  cursor: pointer;
  position: fixed;
  top:0px;
  right:10%;
  display: inline-block;
  height: 100px;
  width: 95px;
  background-color: #AE0000;
  border-radius: 0px;
  color:#fff;
  transition: .2s ease;
  border: solid 0px #AE0000;
}

.contact-button:hover {
  transition: .2s ease;
  border-top: solid #AE0000 12px;
}

.contact-button p {
  padding: 10px 0px 0px 0px;
  display: inline-block;
  width: 100%;
  text-align: center;
}

.contact-button p span.contact-us-icon {
    font-size: 40px;
    line-height: 20px;
}

.contact-button p span.contact-us {
    font-size: 18px;
    font-weight: 400;
}


/* End contact button */

.main {
  width: 100vw;
  height: 150vh;
  background: #fafafa;
  position: relative;
  overflow: hidden;
}

.nav {
  transition: ease 0.5s;
  position: fixed;
  width: 100%;
  top: 0;
  padding:1rem 0 1rem 0;
  text-align: center;
  z-index:30;
  background-color: rgba(255, 255, 255, .8);
  -webkit-backdrop-filter: saturate(180%) blur(20px)
}

.mobile-nav{
  text-transform: uppercase;
  font-size: 16px;
  color: #666;
  z-index: 999;
  box-sizing: border-box;
  padding: 5px 20px 5px 20px;
  position: fixed;
  top: 2rem;
  left: 2rem;
  border-radius: 3px;
  background-color:rgba(255, 255, 255, 0.7);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  cursor: pointer;
  transition: .3s ease-in-out;
  border: 2px solid;
  border-color: rgba(173, 0, 0, 0);
}

.mobile-nav:hover{
  color: #ae0000;
  border-color: rgba(173, 0, 0, 1);
  transition: .3s ease-in-out;
}

.mobile-overlay{
  z-index: 998;
  background: #fff;
  width: 100vw;
  height: 100vh;
  position: fixed;
  opacity: 0;
  transform: translate3d(0,120%,0);
  transition: .6s ease-in;
}

.mobile-overlay > ul > li > a{
  text-decoration: none;
  color: #333;
}

.mobile-overlay > ul{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}

.mobile-overlay > ul > li{
  padding: 15px 0 15px 0;
  font-size: 30px;
  font-weight: 200;
  color:#666;
}

.overlay-active{
  opacity: 1;
  transform: translate3d(0,0,0);
  transition: opacity .5s ,transform .9s;
}

.mobile-overlay ul .brand_name {
  text-transform: uppercase;
  letter-spacing: 5px;
}

.mobile-overlay ul .brand_name:hover {
  color:#AE0000!important;
}

.mobile-overlay ul .brand_name span.saotip-a{
  font-family: "Saotip",sans-serif;
  color:#AE0000;
}

.nav li {
  display: inline;
  margin: 0 1rem 0 1rem;
}

  .nav li a {
      transition: ease 0.5s;
  color: #333;
  font-size: 16px;
  font-weight: 400;
  }

  .nav li a:hover {
  transition: ease 0.5s;
  color: #E10000;
  font-size: 16px;
  font-weight: 400;
  }

.nav > .brand_name {
  font-weight: 400;
  text-transform: uppercase;
}

.logo {
  cursor: default;
  margin-top: 70px;
  width: 60px;
}

.hero-img{
  cursor: default;
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index:1;
  transition:  transform ease 1s;
}

.hero-img:hover{
  cursor: default;
  transform: translateY(20px);
  transform: translateZ(5);
  transition:  transform ease 1s;
}

.hero-wrapper{
  position: absolute;
  width: 100%;
  text-align: center;
  top: 30%;
  transform: translateY(-50%);
  z-index: 2;
}

.crane {
  z-index:-1;
  bottom:0px;
  opacity:0.5;
  transform:translateX(25vw);
}


.hero-wrapper > h1{
  cursor: default;
  font-weight: 200;
  font-size: 60px;
  letter-spacing: 4px;
  color:#000;
}

.hero-wrapper > h2{
  margin-top: 40px;
  font-weight: 100;
  font-size: 28px;
  color:#999;
}

/* End of Main */
.content1 {
  width: 100vw;
  z-index: 10;
  transform: translateY(-2px); /* for resloving 1 pixel bug */
  border-top: 5px solid #2a2a2a;
  height: auto;
  background: #2A2A2A;
  text-align: center;
  box-sizing: border-box;
  padding-bottom: 3rem;
}

.content1 > h1{
  color: #fff;
}

.content1 > p{
  color: #f2f2f2;
  width: 60%;
  font-size:20px;
  line-height: 34px;
  margin: auto;
<<<<<<< HEAD
  margin-bottom: 4rem;
}

.diagram{
  width: auto;
  height: auto;
  position: relative;
  margin: auto;
}

.circle{
  width: 300px;
  height: 300px;
  position: relative;
  border-radius: 500px;
  background: rgba(0, 0, 0, 0.6);
  display: inline-block;
  transition:  transform ease 1s;
}

.circle:hover {
  transform: translateY(-10px);
  opacity: 0.9;
  transition:  transform ease 1s;
}

.circle h1{
  position: absolute;
  top: 50%;
  width: 80%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-weight: 200;
}

.circle:first-child h1{
  color: #333;
}

.circle1{
  background: rgba(255, 255, 255, 0.7);
  z-index: 10;
}

.circle2{
  margin-left: -4rem;
  color: #fff;
}

.circle3{
  margin-top: -90px;
  color: #fff;
}

.slogan{
  margin-top: 1rem;
  font-weight: 300;
  color: white;
}

.slogan li{
  display: inline;
  padding: 1rem;
=======
  opacity: 0.8;
>>>>>>> origin/master
}

/* Showcase */

.showcase {
  background-color:#666;
  width: 100%;
  height:100vh;
  position: relative;
  text-align: center;
  transition: ease 0.5s;
  background-repeat: no-repeat;
}

.showcase:hover {
transition: ease 0.5s;
  background-color:#666;
  width: 100%;
  height:100vh;
  position: relative;
  text-align: center;
  z-index: -99;
}

.showcase p {
  margin-left: 200px;
  display: inline-block;
  font-size: 20px;
  position: absolute;
  bottom: 20px;
}

.showcase1 {
  background-image: url('../image/showcase_1.jpg');
  background-position: center bottom;
  background-size: cover;
  color:#333;
}

.showcase2 {
  background-image: url('../image/showcase_2.jpg');
  background-position: center bottom;
  background-size: cover;
  color:#fff;
  text-shadow: 0 0 12px rgba(0, 0, 0, 0.41)
}


/* End of Content1 */

.content2{
  width: 100vw;
  height: auto;
  /* background: linear-gradient(rgba(255, 255, 255, 0.6),rgba(255, 255, 255, 0.6)),url('../image/truss.jpg') no-repeat; */
  background-size: cover;
  background-position: 150px 0;
  text-align: center;
  position: relative;
  box-sizing: border-box;
  padding: 50px 10% 50px 10%;
}

.content2 > h1{
  padding-top: 6rem;
  position: relative;
  color:#333;
}

.content2 h2{
  color:#666;
}

.tab{
  margin-top: 2rem;
}

.detailcontent{
  display: none;
  width: 100%;
  box-sizing: border-box;
  padding: 50px 15% 50px 15%;
  text-align: center;
  min-height: 280px;
  transition: .2s ease;
}

.detailcontent > p{
  font-weight: 200;
  font-size:18px;
  transition: .2s ease;
}

.detailcontent:first-of-type{
  display: block;
}

.tab{
  width: 100%;
  text-align: center;
}

.tab > li{
  display: inline-block;
}

.detaillink{
  display: inline-block;
  box-sizing: border-box;
  padding: 15px 30px 15px 30px;
  background: grey;
  margin: 0 -6px 0 -6px;
  border: 2px solid #333;
  text-decoration: none;
  color: #333;
  background: #fff;
  transition: .2s ease;
}

.tab > li:first-of-type > .detaillink{
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
transition: .2s ease;
}

.tab > li:last-of-type > .detaillink{
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: .2s ease;
}

.active{
  background: #333;
  color: #fff;
}

.dot-wrapper{
  text-align: center;
}

.dot-wrapper > li{
  display: inline-block;
  padding: 0 5px 0 5px;
}

.dot{
  height: 6px;
  width: 6px;
  border-radius: 40px;
  background: #eaeaea;
}

#dot-one{
  background: #666;
}



/* End of Content2 */

.content3{
  width: 100vw;
  height: auto;
  box-sizing: border-box;
  text-align: center;
}

.date-1{
  display: inline-block;
  margin-left: 10%;
}

.date-2{
  display: inline-block;
}

.big-date{
  display: inline-block;
  font-weight: 100;
  font-size: 140px;
  color: #ca1b22;
}

.medium-date{
  display: inline-block;
  font-weight: 100;
  font-size: 100px;
  color: #666;
}

.normal-date{
  display: inline-block;
  color: #666;
  font-weight: 100;
  font-size: 35px;
  line-height: 35px;
  margin-left: 1rem;
  text-align: left;
}

.normal-date span{
  font-size: 25px;
  font-weight: 100;
  color: #919191;
}

.date-2 > .normal-date{
  font-size: 30px;
  line-height: 28px;
}

.timeline-wrapper{
  width: 70vw;
  margin-bottom: 1.5rem;
}

.timeline hr{
  border: 0;
  height: 2px;
  background: rgb(180, 180, 180);
  width: 100%;
}

.timeline ul{
  white-space: nowrap;
  display: block;
  float: right;
  padding-right: 2rem;
}

.timeline li{
  display: inline-block;
  font-weight: 200;
  color: #8f8f8f;
  margin: 0 60px 0 60px;
}

.content3 li:first-child{
  margin: 0 60px 0 0;
}

.content3 li:last-child{
  margin-right: 0;
}

.content3 > .description{
  text-align: justify;
  margin: auto;
  position: relative;
  width: 60vw;
  min-width: 300px;
  margin-bottom: 5rem;
    font-weight: 200;
}

.content3 > .headline{
  margin-bottom: 0;
  color:#333;
  font-weight: 200;
}

.works{
  display: flex;
  position: relative;
  margin: auto;
  width: 70vw;
  min-width: 300px;
  justify-content: center;
  margin-top: 5rem;
}

.works > div{
  flex-basis: 25%;
  margin: 1rem;
  height: 150px;
}

.more-wrapper > h3{
  font-weight: 200;
  font-size: 15px;
  color: #333;
  letter-spacing: 1px;
}

.more-wrapper{
  position: relative;
  margin: 6rem 0 7rem 0;
}

.works-icon{
  width: 300px;
  line-height: 20px;
  position: relative;
}

.works-icon > div{
  position: absolute;
  top: 50%;
  left: 50%;
    width: 300px;
  transform: translate(-50%,-50%);
}

.works-icon img{
  margin-bottom: 15px;
  height: 60px;
  width: auto;
}

.works-icon h1{
  font-weight: 400;
  color: #333;
  font-size: 17px;
}

.works-icon h2{
  font-weight: 200;
  color: #333;
  font-size: 17px;
}

/* End of Content3 */

footer{
  background: #2A2A2A;
  text-align: center;
  color: #fff;
  line-height: 70px;
  box-sizing: border-box;
  padding: 8rem 0 8rem 0;
}

footer > .headline{
  margin-bottom: 0;
  line-height: 30px;
}

footer > h2{
  font-weight: 100;
  font-size: 17px;
}

footer > h2 > span{
  font-weight: 300;
}

footer > h2 > a{
  text-decoration: none;
  color: #fff;
  transition: .4s ease-in-out;
}

footer > h2 > a:hover{
  font-size: 20px;
  transition: .4s ease-in-out;
}

.phone-number li{
  display: inline-block;
  font-size: 23px;
  font-weight: 300;
  margin: 1rem 0 1rem 0;
}

.social-network{
  margin-bottom: 2rem;
}

.social-network > h1{
  font-weight: 100;
  font-size: 20px;
}

.copyright{
  font-weight: 100;
  font-size: 14px;
  line-height: 0;
}

.copyright > a{
  color: #fff;
}


/*  Responsive Element */

@media screen and (max-width:800px) {

  body {
  width: 100vw!important;
  overflow-x:hidden!important;
  }


  .nav {
    visibility: hidden;
  }

  .contact-button {
    transform: scale(0.8);
    right:1rem;
    border-radius: 360px;
  }

  .contact-button:hover {
    transform: scale(0.81);
  }

  .showcase {
    height:50vh;
    border: none;
  }

  .showcase p {
    overflow-x: hidden;
    display: inline-block;
    font-size: 14px;
    position: sticky;
    bottom:15px;
    background-color: #2A2A2A;
    width:80%;
    color:#fff;
    text-align: left;
    right:0px;
    z-index:99;
    padding: 5px 5px 5px 5px;
  }

  .showcase span {
    margin-left: 6px;
  }

  .showcase:hover {
    height:50vh;
  }

  .main {
    height: 100vh;
  }

  .logo {
    margin-top: 40vh;
  }

  .hero-wrapper > h2{
    font-size: 20px;
    padding: 0px 15% 0px 15%;
  }

  .content1 > p{
    width: 80%;
    font-size: 16px;
  }

  .circle1{
    background: rgba(0, 0, 0, 0.6);
    z-index: 10;
    color:#fff;
  }

  .circle2{
    background: rgba(255, 255, 255, 0.7);
    margin-top: -90px;
    z-index: 100;
    margin-left: 0rem;
    color:#333;
  }

  .circle3{
    background: rgba(0, 0, 0, 0.6);
    margin-top: -90px;
  }

  .slogan {
    display: none;
  }



}

@media screen and (min-width: 800px){
  .mobile-nav{
    display: none;
  }
}

@media screen and (max-width: 800px){
  .nav{
    display: none;
  }
  .detaillink{
    display: inline-block;
    box-sizing: border-box;
    padding: 8px 13px 8px 13px;
    background: grey;
    margin: 0 -6px 0 -6px;
    border: 1px solid #333;
    text-decoration: none;
    color: #333;
    background: #fff;
    transition: .2s ease;
    font-size: 12px;
  }
  .active{
    background: #333;
    color: #fff;
  }
  .works{
    display: flex;
    position: relative;
    margin: auto;
    width: 70vw;
    min-width: 300px;
    justify-content: center;
    margin-top: 5rem;
    flex-wrap: wrap;
    flex-grow: 2;
  }
  .works > div{
    flex-basis: 30%;
    margin: 2rem;
    height: 150px;
  }
}

@media screen and (max-width: 500px){
  .works > div{
    flex-basis: 100%;
    margin: 2rem;
    height: 150px;
  }
}
